.educationalproposal-container{
  margin: 40px 0;

  @include breakpoint(baby){
    margin: 20px 0;
  }
}

.js-tabs {
  width: 100%;
}

.js-tabs__header {
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-bottom: 20px;

  li {
    display: inline-block;
    float: left;
    max-width: 14%;

    a{
      color: $gray;
      min-height: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex-wrap: wrap;

      div{
        width: 100%;
        pointer-events: none;

        @include breakpoint(baby){
          width: auto;
        }
      }
    }
  }
}

@include breakpoint(baby){
  .js-tabs__header{
    display: flex;
    flex-wrap: wrap;
    background: $colegio_gray_gray;
    border-radius: 0 0 5px 5px;
    transition: all .3s ease-in-out;

    li{
      width: 100%;
      max-width: 100%;
    }

    a{
      min-height: auto !important;
      justify-content: unset !important;
      font-size: .9rem;
    }

    img{
      width: 20px;
      margin-right: 5px;
    }
  }

}

.js-tabs__title {
  cursor: pointer;
  display: block;
  margin-right: .5em;
  padding: 1rem;
  transition: all .25s;
  font-family: $font_geo_reg;

  @include breakpoint(baby){
    margin-right: 0;
    padding: .8rem;
  }

  &:hover {
    text-decoration: none;
  }

  img{
    max-width: 40%;

    @include breakpoint(baby){
      max-width: 100%;
    }
  }

}

.js-tabs__title-active {
  background: $orange;
  color: white !important;

  img{
    filter: brightness(100) !important;
  }
}

.js-tabs__content {
  margin-top: 20px;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease-in-out;
  position: absolute;
  left: -9999px;
}

.js-tab-container-active{
  opacity: 1;
  visibility: visible;
  position: relative;
  left: auto;
}

// Acordition
.acordition-title{
  display: none;
  color: $orange;
  font-size: 1.2rem;
  font-family: $font_geo_reg;
  padding: .8rem;
  background: $colegio_gray_gray;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  user-select: none;
}

@include breakpoint(baby){
  .acordition-title{
    display: flex;
  }
}



.ep-generic-title{
  padding-top: 20px;
  border-bottom: 1px solid $orange;

  .number{
    color: $colegio_gray;
    font-size: 2rem;
    font-family: $font_geo_bold;
    margin-top: -5px;

    @include breakpoint(baby){
      font-size: 1.2rem;
    }
  }

  h2{
    font-family: $font_geo_smbold;
    font-size: 1.7rem;
    margin-left: 10px;

    @include breakpoint(mom){
      font-size: 1.5
    }

    @include breakpoint(baby){
      font-size: 1.2rem;
      margin-left: 0;
    }

  }

}

.ep-generic-list{
  padding-top: 20px;
  padding-left: 28px;

  li{
    margin-bottom: 10px;
    font-family: $font_geo_reg;
    font-size: 1rem;

    span{
      color: $orange;
    }
  }

  @include breakpoint(baby){
    padding-left: 0;
  }
}

.ep-large-container{
  padding-top: 20px;

}

.ep-stepfour-left{
  border-right: 1px solid $color_interblock;
  padding-right: 15px;
  margin-bottom: 20px;

  @include breakpoint(baby){
    padding-right: 0;
    border: 0;
  }
}

.ep-text{
  font-family: $font_geo_reg;
  font-size: 1rem;
}

.ep-stepfour-right{
  padding-left: 15px;

  @include breakpoint(baby){
    padding-left: 0;
  }
}

.ep-stepfour-item{
  padding-right: 20px;
  padding-bottom: 20px;

  @include breakpoint(baby){
    padding-right: 0;
    border: 0;
  }

  .item-title{
    color: $orange;
    font-family: $font_cae_reg;
    margin-bottom: 5px;
    font-size: 1.1rem;

    svg{
      fill: $orange;
      width: 33px;
      height: 23px;
    }

    svg path{
      fill: $orange !important;
    }

  }

  .item-content{
    font-size: 1rem;
    font-family: $font_geo_reg;
  }
}

.ep-stepfive-container{
  font-family: $font_geo_reg;
  margin: 10px 0;

}

.ep-stepfive-list{

  h3{
    font-family: $font_cae_bold;
    color: gray;
  }

  i{
    color: $orange;
  }
}

.icon_local_span{
  font-size: 12px;
}

.ep-stepsix-aftertitle{
  font-family: $font_geo_reg;
  font-size: 1rem;
  margin: 20px 38px 0;

  @include breakpoint(baby){
    margin-left: 0;
  }
}

.ep-stepsix-titlelist{
  color: $gray;
  font-size: 1.3rem;
  font-family: $font_cae_bold;
  margin-bottom: 15px;
}

.ep-stepsix-list{
  margin-bottom: 15px;

  .list-number{
    color: $colegio_gray;
    font-family: $font_geo_bold;
    font-size: 2.3rem;
    justify-content: center;
    margin-top: -7px;

    @include breakpoint(baby){
      font-size: 1.5rem;
    }
  }

  .list-title{
    font-size: 1rem;
    color: $gray;
    font-family: $font_cae_bold;
  }

  .list-text{
    font-family: $font_geo_reg;
    font-size: 1rem;
  }
}

.ep-stepsix-bottom{
  margin-top: 40px;

  @include breakpoint(baby){
   margin-top: 20px;
  }

  h2{
    font-size: 1.5rem;
    font-family: $font_cae_bold;
    color: $gray;

    @include breakpoint(baby){
      font-size: 1.1rem;
    }
  }

  img{
    margin-bottom: 10px;

    @include breakpoint(baby){
      max-width: 35%;
    }
  }
}

.ep-stepseven-container{
  padding-top: 20px;
  padding-left: 28px;

  @include breakpoint(baby){
    padding-left: 0;
  }

  table{
    font-family: $font_geo_reg;
    font-size: 1rem;
  }
}
