.playmentguide-content{
  margin: 40px 0;
  @include breakpoint(baby){
    margin: 20px 0;
  }

  font-family: $font_geo_reg;
  color: $gray;
}

.playmentguide-title{
  font-family: $font_geo_bold;
  font-size: 1.8rem;
  color: inherit;

  @media screen and (max-width: 700px){
    font-size: 1.2rem;
  }
}

.playmentguide-titlesub{
  @media screen and (max-width: 700px){
    font-size: 0.9rem;
  }
}

.playmentguide-option{
  margin: 40px 0;
  @include breakpoint(baby){
    margin: 20px 0;
  }

  &:hover{
    .playmentguide-optionitem:not(:hover){
        img{
          opacity: 0.3;
        }
    }
  }

}

.playmentguide-optionitem{
  position: relative;
  padding-right: 20px;
  padding-left: 20px;

  a{
    display: block;
    width: 100%;
    height: 100%;
  }

  img{
    transition: opacity 0.4s ease-in-out;
  }

  &::after{
    content: "";
    position: absolute;
    right: 0;
    top: -50%;
    width: 1px;
    background: $colegio_gray;
    height: 200%;
  }

  &:last-child::after{
    display: none;
  }

}
