body {
  font-family: $font_cae_reg;
  color: $gray;
}

a,a:link{
  text-decoration: none;
}

a:visited{
}

a:active{
}

h1,h2,h3,h4,h5,h6{
  color: $orange;
  font-weight:normal;
}

h1{
  font-size: 1.4rem;
}

h2{
  font-size: 1.3rem;
}

h3{
  font-size: 1.2rem;
}

h4{
  font-size: 1rem;
}

a,li{
  transition:0.3s ease-in;
}

a:hover,li:hover{
  transition:0.3s ease-out;
}

*{
  outline: none;
}

.container-base{
  width: 100%;
  padding: 0 12px;
}
