body {
  font-family: 'CaeciliaLTPro-45Light';
}

a,a:link{
  text-decoration: none;
}

a:visited{
}

a:active{
}

h1,h2,h3,h4,h5,h6{
  color: $orange;
  font-size:100%;
  font-weight:normal;
}

a,li{
  transition:0.3s ease-in;
}

a:hover,li:hover{
  transition:0.3s ease-out;
}

*{
  outline: none;
}