select,input, textarea{
  font-family: 'CaeciliaLTPro-45Light';
  font-size: 1rem;
  color: black;
  padding: 10px;
  width: 100%;
}

textarea, input{
  margin: 0 0 0 0;
}


select{
  padding-right: 4rem;
  border: 1px solid transparentize($gray, 0.7);
  overflow: hidden;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAaAgMAAADZOtQaAAAAAXNSR0IB2cksfwAAAAlQTFRFAAAA9GM67WpFdPrSVgAAAAN0Uk5TAP//RFDWIQAAABpJREFUeJxjYKA5YA1tANOMoVCBECgtQAPLAKFWAZUBQ2MRAAAAAElFTkSuQmCC') no-repeat right #FEFEFE;
  -moz-appearance:none;
  -webkit-appearance:none;
  appearance: none;
}


button.validate{
  background-color: transparent;
  border-color: transparent;
  font-size: 1.5rem;
  font-weight: bold;
  color: $orange;
  cursor: pointer;
}

fieldset{
  border: 0px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

