body{
    margin: 0;
    height: 100vh;
    background: linear-gradient(white 40%, #d1d1d1cf);
}

.home--logo{
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  align-items: center;
  justify-content: center;
  z-index: 99;

  @include breakpoint(baby){
    align-items: baseline;
    margin-top: 30px;
  }
}

.logo{
  background: url('/static/images/logos/logo-trilce.svg');
  //  filter: brightness(100);
  background-size: cover;
  background-repeat: no-repeat;
  width: 220px;
  height: 70px;

  @include breakpoint(baby){
    margin: 0 auto;
  }

}

.home--cta{
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  position: fixed;
  bottom: 0;
  z-index: 99;

  .h-boton{
    text-align: center;
    min-width: 13vw;

    @media (max-width: 768px){
      width: 100%;
      padding-left: 0;
      padding-right:0;
    }

    a{
      font-family: $font_geo_reg;
      font-size: 40px;
      display: block;
      width: 100%;
      height: 100%;
      padding: 25px;
      text-transform: uppercase;
      text-decoration: none;

      @media (max-width: 1100px){
        font-size: 2.1rem;
      }

      @media (max-width: 700px){
        font-size: 2em;
        padding: 10px;
        padding-top: 13px;
      }

    }

  }

  .colegio{
    background-color: white;
    a{color: $gray;}
  }

  .academia{
    background-color: $orange;
    a{color: white;}
  }

}

.animation-svg-border01{
  position: relative;
  cursor: pointer;

  svg {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    rect {
      fill: none;
      stroke: transparent;
      stroke-width: 1;
      stroke-dasharray: 400, 0;
      transition: all 0.4s ease-in-out;
    }
  }

  &:hover svg rect {
    stroke-width: 10;
    stroke-dasharray: 35, 245;
    stroke-dashoffset: 38;
    transition: all 0.4s ease-in-out;
    stroke: white;
  }


}

.az {
  &:hover svg rect {
    stroke-width: 10;
    stroke-dasharray: 35, 245;
    stroke-dashoffset: 38;
    transition: all 0.5s ease-in-out;
    stroke: $orange;
  }
}

.home--float{
  display: flex;
  height: 100vh;
  width: 100vw;
  position: absolute;
  justify-content: space-between;
  align-items: flex-end;
  overflow: hidden;

  z-index: 0;

  @include breakpoint(baby){
    display: none;
  }
}


@mixin leave-transition{
  transition: all .2s ease-in;
}

@mixin leave-human($human){
  @switch $human{
    @when academia{
      margin-right: -999px;
    }

    @when colegio{
      margin-left: -999px;
    }
  }
}

.home--float-girl{
  display: flex;
  align-content: flex-end;

  @include leave-transition;

  img{
    width: calc(35vw);
    height: 45vw;
    position: relative;
    right: -40px;
  }
}

.home--float-boy{
  display: flex;
  align-content: flex-end;

  @include leave-transition;

  img{
    width: calc(35vw);
    height: 45vw;
    position: relative;
    left: 50px;
  }
}

// Effects Academia
.academia-leave-human{
  opacity: 0;
}

.colegio-leave-human{
  opacity: 0;
}


.home--layers{
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transition: all .3s ease-in-out;

  .layer{
    position: absolute;
    width: 100vw;
    height: 100vh;
    fill: $orange;

    // svg{
    //   width: 100vw;
    //   height: 100vh;
    //
    //   g{
    //     width: 100vw;
    //     height: 100vh;
    //   }
    //
    //   // path{
    //   //   opacity: 0;
    //   // }
    //
    // }

    img{
      width: 100vw;
      height: 100vh;
    }

    &:nth-child(1){
      z-index:2;
      img{
        //animation: layer-path 3s linear infinite;
      }
    }

    &:nth-child(2){
      z-index:-1;
      img{
        //animation: layer-path2 3s linear infinite;
      }
    }

    &:nth-child(3){
      z-index:-2;
      img{
        //animation: layer-path3 3s linear infinite;
      }
    }


  }
}

.academia-layers{
  transition: all .1s ease-in;
  opacity: 0;
  position: absolute !important;
}

.colegio-layers{
  transition: all .1s ease-in;
  opacity: 0;
  position: absolute !important;
}

.home--layer-active{
  visibility: visible;
  opacity: 1;
}

@keyframes layer-path {
    0% {
        transform: rotateZ(0deg) translateX(0%);
    }
    25% {
        transform: rotateZ(2deg) translateX(-3%);
    }
    50% {
        transform: rotateZ(0deg) translateX(0%);
    }
    75% {
        transform: rotateZ(1deg) translateX(2%);
    }
    100% {
        transform: rotateZ(0deg) translateX(0%);
    }
}

@keyframes layer-path2 {
    0% {
        transform: rotateZ(0deg) translateY(1%);
    }
    25% {
        transform: rotateZ(2deg) translateY(3%);
    }
    50% {
        transform: rotateZ(0deg) translateY(5%);
    }
    75% {
        transform: rotateZ(1deg) translateY(3%);
    }
    100% {
        transform: rotateZ(0deg) translateY(1%);
    }
}

@keyframes layer-path3 {
    0% {
        transform: rotateZ(3deg) translateY(2%);
    }
    25% {
        transform: rotateZ(2deg) translateY(4%);
    }
    50% {
        transform: rotateZ(5deg) translateY(1%);
    }
    75% {
        transform: rotateZ(4deg) translateY(3%);
    }
    100% {
        transform: rotateZ(3deg) translateY(2%);
    }
}


.footer-right-icons{
  position: absolute;
  top: -75px;

  li{
    display: inline-block;
    padding: 13px;

    a{
      font-size: 1.8rem;
      color: $gray;

    }
  }
}

.slogan{
  position: absolute;
  margin-top: 94px;

  h2{
    color: $gray;
    font-family: $font_geo_reg;
    letter-spacing: 8px;
    text-align: center;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
    opacity: 0;
  }


}
