.home-bg {
  z-index: -2;
}

#videoContainer {
//  background-image: url('/static/images/home/home-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.home-overlay {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAMAAAC6sdbXAAAABlBMVEUAAABtamrXHerXAAAAC0lEQVR4AWPABxgBAB8AAjZ0DjUAAAAASUVORK5CYII=);
  width: 100%;
  height: 100%;
  opacity: 0.4;
  position: absolute;
  top: 0.1px
}

.h-all{
  position: relative;
  
  .h-content{
    position: absolute;
    width: 100%;
    
    header{
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      margin: 2.2%;
      margin-top: 50px;

      @media (max-width: 700px){
        flex-wrap: wrap;
      }
      
      .h-logo{
        background: url('/static/images/home/logo.png');
        background-size: cover;
        background-repeat: no-repeat;

        width: 220px;
        height: 70px;
        @media (max-width: 700px){
          margin: 0 auto;
          width: 160px;
          height: 50px;
        }

      } //end logo
      
      nav{
        padding-right: 35px;
        
        ul{
          a,a:link{
            color: white;
            text-decoration: none;
          }
          
          li{
            display: inline-block;
            font-size: 24px;
            padding-left: 13px;
            margin-right: 0;
            
            &:hover{
              a{
                &::after{
                  content: "";
                  display: none;
                }
              }
              
            }
            
          }
          
          @media (max-width: 700px){
            text-align: center;
          }
        } //end ul
        
        @media (max-width: 700px){
          margin: 0 auto;
          padding-top: 25px;
          width: 100%;
        }
        
      } //end nav
      
    }//end header
    
    section.h-slogan{
      margin-top: 30vh;
      
      h1{
        text-align: center;
        font-family: "Geogrotesque-SmBd" !important;
        color: white;
        font-size: 3rem;
        letter-spacing: 11px;
        
        span{
          border-collapse: collapse;
          border-spacing: 35px;
          border-bottom: 2px solid white;
          @media (max-width: 700px){ border: 0; }
        }
        
        @media(max-width: 700px){
          letter-spacing: 4px;
          font-size: 1.5rem;
        }
      }
      
      @media (max-width: 700px){
        margin-top: 28%;
      }
      
      
    }//end slogan
    
    section.h-cta{
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      position: fixed;
      bottom: 0;
      
      .h-boton{
        text-align: center;
        
        &:nth-child(1){
          background-color: white;
          a{color: $gray;}
        }
        &:nth-child(2){
          background-color: $orange;
          a{color: white;}
        }

        @media (max-width: 768px){
          width: 100%;
          padding-left: 0;
          padding-right:0;
  
        }
                
        a{
          font-family: 'Geogrotesque-Rg';
          font-size: 40px;
          display: block;
          width: 100%;
          height: 100%;
          
          padding-top: 31px;
          padding-bottom: 31px;
          padding-left: 31px;
          padding-right:31px;

          
          text-transform: uppercase;
          text-decoration: none;

          @media (max-width: 700px){
            font-size: 2em;
            padding: 5px;
            padding-left: 0;
            padding-right: 0;

          }
          
        }//end a


      }

    }
    
  }//end container
  
}//end all

#h-k{
  position: absolute;
  width: 100%;
  height: 100%;
}



// =========================================================
// =========================================================




.animation-svg-border01{
  position: relative;
  cursor: pointer;
  
  svg {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    rect {
      fill: none;
      stroke: transparent;
      stroke-width: 1;
      stroke-dasharray: 400, 0;
      transition: all 0.5s ease-in-out;
    }
  }
  
  &:hover svg rect {
    stroke-width: 10;
    stroke-dasharray: 35, 245;
    stroke-dashoffset: 38;
    transition: all 0.5s ease-in-out;
    stroke: white;
  }
  
  
}

.az {
  &:hover svg rect {
    stroke-width: 10;
    stroke-dasharray: 35, 245;
    stroke-dashoffset: 38;
    transition: all 0.5s ease-in-out;
    stroke: $orange;
  }
}

.home-VideoBg {
  position: relative;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  z-index: -2;
}

.home-VideoBg video {
  position: absolute;
  top: 50%;
  left: 50%;
  visibility: hidden;
  transform: translate(-50%, -50%);
}

.home-VideoBg__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
