.logo{
    img{
        margin-top: 1rem;
        margin-left: 1rem;
        max-width: 15rem;
                    
        @media screen and (max-width: 480px) {
          max-width: 5rem;
        }
        
        @media screen and (max-width: 768px) {
          margin-top: 1.3rem;
          margin-left: 0.5rem;
          max-width: 6rem;
        }
    }
}