.pagination{
  font-family: 'Geogrotesque-Rg';
  font-size: 1.2rem;
  margin: 2rem;
  span{
    background: $orange;
    color: white;
    padding: 0.5rem;
    font-weight: bold;
    font-family: 'Geogrotesque-Bd';
  }
  
}
