@mixin margin($top, $right, $bottom, $left) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}

.header-double-top{
  >.row{
    position: relative;
    height: 255px;
    flex-wrap: wrap;
    overflow: hidden;
    
    @media screen and (max-width: 768px){
      height: auto;
    }
    
    >div.col-xs-12,div.col-sm-6,div.col-md-12{
      &:nth-child(1){
        background: $orange;

        @media screen and (max-width: 768px){
          height: 4rem;
        }
      }
      
      &:nth-child(2){
        background-repeat: no-repeat;
        background-size: cover;

        @media screen and (max-width: 768px){
          order: -1;
          height: 10rem;
        }
      }

    }
    
    .header-double-title{
      position: absolute;
      width: 60%;
      @include margin(6rem, initial, initial, 11.5%);
      
      @media screen and (max-width: 768px){
        bottom:0px;
        margin-left: 10%
      }
      
      h1{
        font-size: 2.7em;
        font-family: 'CaeciliaLTPro-85Heavy';
        color: white;
        display: inline-block;
        background-color: $orange;
        padding: 0.8rem;
        
        @media screen and (max-width: 768px){
          font-size: 1.4rem;
          padding: 0.1rem;
        }
        
        @media screen and(max-width: 320px){
          font-size: 1.3rem;
        }
      }
      
      p{
        color: white;
        display: inline-block;
        margin-left: 2rem;
        
        @media screen and (max-width: 768px){
          display: none;
        }
      }
    
    }
    
    .header-double-border{
      position: absolute;
      border: 0.7rem solid white;
      width: 60%;
      @include margin(3rem, 20%, 2%, 20%);
      height: 70%;
      
      @media screen and (max-width: 768px){
        border: 0.3rem solid white;
        bottom: -50%;
      }
    }
  }
}

.header-double-p-up{
  font-size: 1.1rem;
  font-weight: bold;
  max-width: 25rem;
}