/**
  *  Extendes Utils
*/

%dropdown-desk-active {
  display: block;
  line-height: initial;
  padding-top: 50px;
  z-index: 12;
  text-align: left;
}

.dropdown-desk{
  display: none;
  
  .dropdown-desk-content{
    border-top: 8px solid $orange;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
    background: white;
    padding: 3rem;
    
    >div{
      width: 20%;
      font-family: 'Geogrotesque-Rg';
      
      h3{
        color: $gray;
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
      }
      
      ul{
        display: inline-block;
        
        li{
          font-size: 1.3rem;
          position: relative;
          &::before{
            position: absolute;
            top: 5px;
            content: "\f112";
            color: transparentize($gray, 0.5);
            font-family: 'FontAwesome';
            font-size: 15px;
            margin-right: 5px;
          }
          
          a{
            display: inline-block;
            width: 100%;
            height: 100%;
            margin-left: 17px;
            color: $gray;
          }
          
          &:hover{
            a{
              font-weight: bold;
              color: $orange;
            }
            &::before{
              color: $orange;
            }
          }

        }// end li
        
      }//  end ul
      
      // Line right
      &::before{
        content: "";
        position: absolute;
        z-index: 1;
        top: 120%;
        width: 1px;
        height: 85%;
        margin-left: -45px;
        background: transparentize($gray, 0.8);
      }
      
      &:first-child{
        &::before{
          width: 0px;
        }
      }
      
    }// end div
    
  }
  
  
  &:hover{
    @extend %dropdown-desk-active;
  }
}

.nav-info{
  margin-top: 5px;
}

.nav-info span{
  color: white;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 0.8rem;
  background-color: $orange;
  
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.pre-nav{
  padding-right: 2%;
  @media screen and (max-width: 768px) {
    padding-right: 0;
  }
}

/**
      Nav
*/
nav{
  margin-bottom: 6%;
  
  .toogle-content{
    display: none;
  }
  
  /**
    *  Ul  - no responsive
  */
  
  > ul{
    margin-top: 8%;
    
    .menu-click-sedes{
      display: none;
    }

    .disable{
      cursor: default;
      
      a,a:link{
        color: $disable_link;
        &:hover{
          color: $disable_link;
          a{
            color: $disable_link;
          }
          &::after{
            display: none;
          }
        }
      }
    }
        
    > li{
      display: inline-block;
      margin-right: 1.8rem;
      font-size: 1.15rem;
      

      
      &:first-child{
        display: none;
      }
      
      &:hover{
        
        >a{
          position: relative;
          color: $orange;
          &::after{
            content: "";
            width: 23px;
            height: 10px;
            background: $gray;
            top: 30px;
            right: 30%;
            position: absolute;
            display: inline-block;
          }
        }
      }
      
            
      >a{
        display: block;
        color: $gray;
        font-family: 'Geogrotesque-Rg';
        transition: ease-out 0.01s;
        text-transform: uppercase;
        
      }
      
      /**
        Menu desktop Sedes
      */
      &:nth-child(3){
//        position: relative;

        &:hover > .dropdown-desk{

          @extend %dropdown-desk-active;
          
          width: 100vw;
          margin-left: -50vw;
          height: 100px;
          left: 49.58%;
          position: absolute;
          
          @media screen and (max-width: 1683px) {
            left: 49.55%;
          }
          
          @media screen and (max-width: 1570px) {
            left: 49.55%;
          }
          
          
        }
      }// fin menu desktop sedes

      &:nth-last-child(1){
        margin-right: 0px;
      }
    }
    

  }
  
  
  // Sedes ul
  
  .label-toggle{
    color: $orange;
    background-color: white;
    border-radius: 2px;
    border: 1px solid $orange;
    padding: 0.56em;
  }
  
  
  /**
    * UL > responsive
  */
  @media screen and (max-width: 768px) {
    .toogle-content{
      display: block;
    }
    
    >ul{
      display: none;
      position: relative;
      
      .menu-click-sedes{
        display: block;
      }
      
      >li{
        display: block;
        border-top: 0.4px solid transparentize($gray, 0.2);
        margin-right: 0;
        font-size: 0.9rem;
        height: auto;
        
        &:first-child{
          display: block;
          background-color: $orange;
          color: white;
          padding: 1rem;
          border-top: 0;
        }
        
        &:nth-child(3){
          display: none;
        }
        
        a{
          display: block;
          width: 100%;
          height: 100%;
          padding: 1rem;

          i{
            color: $orange
          }

          &:hover{
            color: $orange;
            i{
              color: white;
            }

            &::after{
              width: 0;
              height: 0;
            }

          }
        }// Fin > a
        
      }
      
      li.menu-click-sedes{
        &:hover .menu-sedes-ul{
          display: block;
        }
        
        >a{
          &::after{
            font-family: 'FontAwesome';
            content: "\f110";
            font-size: 15px;
            color: $orange;
            position: absolute;
            margin-left: 6px;
          }
          
          &:hover::after{
            content: "";
          }

        }
      }// Fin li.menu-click-sedes
      
    }
  
  }
  
  .toogle-content{
    margin-top: 2rem;
    margin-right: 1rem;
  }
  
  
  #menu-toggle:checked ~ ul {
    position: absolute;
    display: block;
    top:0;
    bottom: 0;
    left: 0px;
    
    width: 100vw;
    height: 100vh;
    
    margin-top: 11.9vh;
    background-color: white;
    z-index: 9999999999;
    text-align: center;
    
  }//end ul
  
  #menu-toggle{
    display: none;
  }
  
  /**
    * Submenu Sedes >UL
  */
  .menu-sedes-ul{
    display: none;
    >li{
      background-color: white !important;
      display: block;
      border:0px;
      margin-right: 0;
      font-size: 0.8rem;
      height: auto;
      
      a{
        color: $orange;
      
        &:link{
          text-transform: none;
          padding: 0.2rem;
        }
      }
    }
  }
}


