/******************
******************
******************
                    Trilce SASS MAIN FILE
******************
******************
******************/

@font-face {
  font-family: 'CaeciliaLTPro-45Light';
  src: url("/static/fonts/33FA0F_0_0.eot");
  src: url("/static/fonts/33FA0F_0_0.eot?#iefix") format("embedded-opentype"), url("/static/fonts/33FA0F_0_0.woff2") format("woff2"), url("/static/fonts/33FA0F_0_0.woff") format("woff"), url("/static/fonts/33FA0F_0_0.ttf") format("truetype");
}

@font-face {
  font-family: 'CaeciliaLTPro-55Roman';
  src: url("/static/fonts/33FA0F_1_0.eot");
  src: url("/static/fonts/33FA0F_1_0.eot?#iefix") format("embedded-opentype"), url("/static/fonts/33FA0F_1_0.woff2") format("woff2"), url("/static/fonts/33FA0F_1_0.woff") format("woff"), url("/static/fonts/33FA0F_1_0.ttf") format("truetype");
}

@font-face {
  font-family: 'CaeciliaLTPro-46LightItalic';
  src: url("/static/fonts/33FA0F_2_0.eot");
  src: url("/static/fonts/33FA0F_2_0.eot?#iefix") format("embedded-opentype"), url("/static/fonts/33FA0F_2_0.woff2") format("woff2"), url("/static/fonts/33FA0F_2_0.woff") format("woff"), url("/static/fonts/33FA0F_2_0.ttf") format("truetype");
}

@font-face {
  font-family: 'CaeciliaLTPro-56Italic';
  src: url("/static/fonts/33FA0F_3_0.eot");
  src: url("/static/fonts/33FA0F_3_0.eot?#iefix") format("embedded-opentype"), url("/static/fonts/33FA0F_3_0.woff2") format("woff2"), url("/static/fonts/33FA0F_3_0.woff") format("woff"), url("/static/fonts/33FA0F_3_0.ttf") format("truetype");
}

@font-face {
  font-family: 'CaeciliaLTPro-75Bold';
  src: url("/static/fonts/33FA0F_4_0.eot");
  src: url("/static/fonts/33FA0F_4_0.eot?#iefix") format("embedded-opentype"), url("/static/fonts/33FA0F_4_0.woff2") format("woff2"), url("/static/fonts/33FA0F_4_0.woff") format("woff"), url("/static/fonts/33FA0F_4_0.ttf") format("truetype");
}

@font-face {
  font-family: 'CaeciliaLTPro-76BoldItalic';
  src: url("/static/fonts/33FA0F_5_0.eot");
  src: url("/static/fonts/33FA0F_5_0.eot?#iefix") format("embedded-opentype"), url("/static/fonts/33FA0F_5_0.woff2") format("woff2"), url("/static/fonts/33FA0F_5_0.woff") format("woff"), url("/static/fonts/33FA0F_5_0.ttf") format("truetype");
}

@font-face {
  font-family: 'CaeciliaLTPro-85Heavy';
  src: url("/static/fonts/33FA0F_6_0.eot");
  src: url("/static/fonts/33FA0F_6_0.eot?#iefix") format("embedded-opentype"), url("/static/fonts/33FA0F_6_0.woff2") format("woff2"), url("/static/fonts/33FA0F_6_0.woff") format("woff"), url("/static/fonts/33FA0F_6_0.ttf") format("truetype");
}

@font-face {
  font-family: 'CaeciliaLTPro-86HeavyItalic';
  src: url("/static/fonts/33FA0F_7_0.eot");
  src: url("/static/fonts/33FA0F_7_0.eot?#iefix") format("embedded-opentype"), url("/static/fonts/33FA0F_7_0.woff2") format("woff2"), url("/static/fonts/33FA0F_7_0.woff") format("woff"), url("/static/fonts/33FA0F_7_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque-BdIt';
  src: url("/static/fonts/33FA0F_8_0.eot");
  src: url("/static/fonts/33FA0F_8_0.eot?#iefix") format("embedded-opentype"), url("/static/fonts/33FA0F_8_0.woff2") format("woff2"), url("/static/fonts/33FA0F_8_0.woff") format("woff"), url("/static/fonts/33FA0F_8_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque-Lt';
  src: url("/static/fonts/33FA0F_9_0.eot");
  src: url("/static/fonts/33FA0F_9_0.eot?#iefix") format("embedded-opentype"), url("/static/fonts/33FA0F_9_0.woff2") format("woff2"), url("/static/fonts/33FA0F_9_0.woff") format("woff"), url("/static/fonts/33FA0F_9_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque-LtIt';
  src: url("/static/fonts/33FA0F_A_0.eot");
  src: url("/static/fonts/33FA0F_A_0.eot?#iefix") format("embedded-opentype"), url("/static/fonts/33FA0F_A_0.woff2") format("woff2"), url("/static/fonts/33FA0F_A_0.woff") format("woff"), url("/static/fonts/33FA0F_A_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque-Md';
  src: url("/static/fonts/33FA0F_B_0.eot");
  src: url("/static/fonts/33FA0F_B_0.eot?#iefix") format("embedded-opentype"), url("/static/fonts/33FA0F_B_0.woff2") format("woff2"), url("/static/fonts/33FA0F_B_0.woff") format("woff"), url("/static/fonts/33FA0F_B_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque-Bd';
  src: url("/static/fonts/33FA0F_C_0.eot");
  src: url("/static/fonts/33FA0F_C_0.eot?#iefix") format("embedded-opentype"), url("/static/fonts/33FA0F_C_0.woff2") format("woff2"), url("/static/fonts/33FA0F_C_0.woff") format("woff"), url("/static/fonts/33FA0F_C_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque-MdIt';
  src: url("/static/fonts/33FA0F_D_0.eot");
  src: url("/static/fonts/33FA0F_D_0.eot?#iefix") format("embedded-opentype"), url("/static/fonts/33FA0F_D_0.woff2") format("woff2"), url("/static/fonts/33FA0F_D_0.woff") format("woff"), url("/static/fonts/33FA0F_D_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque-Rg';
  src: url("/static/fonts/33FA0F_E_0.eot");
  src: url("/static/fonts/33FA0F_E_0.eot?#iefix") format("embedded-opentype"), url("/static/fonts/33FA0F_E_0.woff2") format("woff2"), url("/static/fonts/33FA0F_E_0.woff") format("woff"), url("/static/fonts/33FA0F_E_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque-RgIt';
  src: url("/static/fonts/33FA0F_F_0.eot");
  src: url("/static/fonts/33FA0F_F_0.eot?#iefix") format("embedded-opentype"), url("/static/fonts/33FA0F_F_0.woff2") format("woff2"), url("/static/fonts/33FA0F_F_0.woff") format("woff"), url("/static/fonts/33FA0F_F_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque-SmBdIt';
  src: url("/static/fonts/33FA0F_10_0.eot");
  src: url("/static/fonts/33FA0F_10_0.eot?#iefix") format("embedded-opentype"), url("/static/fonts/33FA0F_10_0.woff2") format("woff2"), url("/static/fonts/33FA0F_10_0.woff") format("woff"), url("/static/fonts/33FA0F_10_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque-SmBd';
  src: url("/static/fonts/33FA0F_11_0.eot");
  src: url("/static/fonts/33FA0F_11_0.eot?#iefix") format("embedded-opentype"), url("/static/fonts/33FA0F_11_0.woff2") format("woff2"), url("/static/fonts/33FA0F_11_0.woff") format("woff"), url("/static/fonts/33FA0F_11_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque-Th';
  src: url("/static/fonts/33FA0F_12_0.eot");
  src: url("/static/fonts/33FA0F_12_0.eot?#iefix") format("embedded-opentype"), url("/static/fonts/33FA0F_12_0.woff2") format("woff2"), url("/static/fonts/33FA0F_12_0.woff") format("woff"), url("/static/fonts/33FA0F_12_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque-ThIt';
  src: url("/static/fonts/33FA0F_13_0.eot");
  src: url("/static/fonts/33FA0F_13_0.eot?#iefix") format("embedded-opentype"), url("/static/fonts/33FA0F_13_0.woff2") format("woff2"), url("/static/fonts/33FA0F_13_0.woff") format("woff"), url("/static/fonts/33FA0F_13_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque-UltLtIt';
  src: url("/static/fonts/33FA0F_14_0.eot");
  src: url("/static/fonts/33FA0F_14_0.eot?#iefix") format("embedded-opentype"), url("/static/fonts/33FA0F_14_0.woff2") format("woff2"), url("/static/fonts/33FA0F_14_0.woff") format("woff"), url("/static/fonts/33FA0F_14_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque-UltLt';
  src: url("/static/fonts/33FA0F_15_0.eot");
  src: url("/static/fonts/33FA0F_15_0.eot?#iefix") format("embedded-opentype"), url("/static/fonts/33FA0F_15_0.woff2") format("woff2"), url("/static/fonts/33FA0F_15_0.woff") format("woff"), url("/static/fonts/33FA0F_15_0.ttf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
}

/**
  @@ HOME
*/

.home-bg {
  z-index: -2;
}

.home-overlay {
  background-image: url("/static/images/home/bg.png");
  width: 100%;
  height: 100%;
  opacity: 0.4;
  position: absolute;
  top: 0.1px;
}

/*loader open*/

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #00abf0;
  -webkit-animation: spin 2s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
  z-index: 1001;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ffffff;
  -webkit-animation: spin 3s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f4633a;
  -webkit-animation: spin 1.5s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }

  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }

  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222222;
  z-index: 1000;
  -webkit-transform: translateX(0);
  /* Chrome, Opera 15+, Safari 3.1+ */
  /* IE 9 */
  transform: translateX(0);
  /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

/* Loaded */

.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  /* IE 9 */
  transform: translateX(-100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  /* IE 9 */
  transform: translateX(100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  /* IE 9 */
  transform: translateY(-100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}

/* loader close */

.all {
  position: relative;
}

.all .content {
  position: absolute;
  width: 100%;
}

.all .content header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2.2%;
  margin-top: 50px;
}

@media (max-width: 700px) {
  .all .content header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.all .content header .logo {
  background: url(/images/logo.png?cca11e5f6187ee6c16fb8520d703d778);
  background-size: cover;
  background-repeat: no-repeat;
  width: 220px;
  height: 70px;
}

@media (max-width: 700px) {
  .all .content header .logo {
    margin: 0 auto;
    width: 160px;
    height: 50px;
  }
}

.all .content header nav {
  padding-right: 35px;
}

.all .content header nav ul a,
.all .content header nav ul a:link {
  color: white;
}

.all .content header nav ul li {
  display: inline;
  font-size: 24px;
  padding-left: 13px;
}

@media (max-width: 700px) {
  .all .content header nav {
    margin: 0 auto;
    padding-top: 25px;
  }
}

.all .content section.slogan {
  margin-top: 18%;
}

.all .content section.slogan h1 {
  text-align: center;
  font-family: "Geogrotesque-SmBd";
  color: white;
  font-size: 40px;
  letter-spacing: 11px;
}

.all .content section.slogan h1 span {
  border-collapse: collapse;
  border-spacing: 35px;
  border-bottom: 2px solid white;
}

@media (max-width: 700px) {
  .all .content section.slogan h1 span {
    border: 0;
  }
}

@media (max-width: 700px) {
  .all .content section.slogan h1 {
    letter-spacing: 4px;
    font-size: 17px;
  }
}

.all .content section.cta {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  bottom: 0;
}

.all .content section.cta .boton {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.all .content section.cta .boton:nth-child(1) {
  background-color: white;
}

.all .content section.cta .boton:nth-child(1) a {
  color: #53565a;
}

.all .content section.cta .boton:nth-child(2) {
  background-color: #f4633a;
}

.all .content section.cta .boton:nth-child(2) a {
  color: white;
}

@media (max-width: 768px) {
  .all .content section.cta .boton {
    width: 100%;
  }
}

.all .content section.cta .boton a {
  margin: 20px;
  font-family: 'Geogrotesque-Rg';
  font-size: 55px;
  text-transform: uppercase;
  text-decoration: none;
}

@media (max-width: 700px) {
  .all .content section.cta .boton a {
    font-size: 2em;
    padding: 5px;
  }
}

#k {
  position: absolute;
  width: 100%;
  height: 100%;
}

