/**
  Trilce SASS MAIN FILE
*/

/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

@font-face {
  font-family: 'CaeciliaLTPro-45Light';
  src: url("/static/fonts/33FA0F_0_0.eot");
  src: url("/static/fonts/33FA0F_0_0.eot?#iefix") format("embedded-opentype"), url("/static/fonts/33FA0F_0_0.woff2") format("woff2"), url("/static/fonts/33FA0F_0_0.woff") format("woff"), url("/static/fonts/33FA0F_0_0.ttf") format("truetype");
}

@font-face {
  font-family: 'CaeciliaLTPro-55Roman';
  src: url("/static/fonts/33FA0F_1_0.eot");
  src: url("/static/fonts/33FA0F_1_0.eot?#iefix") format("embedded-opentype"), url("/static/fonts/33FA0F_1_0.woff2") format("woff2"), url("/static/fonts/33FA0F_1_0.woff") format("woff"), url("/static/fonts/33FA0F_1_0.ttf") format("truetype");
}

@font-face {
  font-family: 'CaeciliaLTPro-46LightItalic';
  src: url("/static/fonts/33FA0F_2_0.eot");
  src: url("/static/fonts/33FA0F_2_0.eot?#iefix") format("embedded-opentype"), url("/static/fonts/33FA0F_2_0.woff2") format("woff2"), url("/static/fonts/33FA0F_2_0.woff") format("woff"), url("/static/fonts/33FA0F_2_0.ttf") format("truetype");
}

@font-face {
  font-family: 'CaeciliaLTPro-56Italic';
  src: url("/static/fonts/33FA0F_3_0.eot");
  src: url("/static/fonts/33FA0F_3_0.eot?#iefix") format("embedded-opentype"), url("/static/fonts/33FA0F_3_0.woff2") format("woff2"), url("/static/fonts/33FA0F_3_0.woff") format("woff"), url("/static/fonts/33FA0F_3_0.ttf") format("truetype");
}

@font-face {
  font-family: 'CaeciliaLTPro-75Bold';
  src: url("/static/fonts/33FA0F_4_0.eot");
  src: url("/static/fonts/33FA0F_4_0.eot?#iefix") format("embedded-opentype"), url("/static/fonts/33FA0F_4_0.woff2") format("woff2"), url("/static/fonts/33FA0F_4_0.woff") format("woff"), url("/static/fonts/33FA0F_4_0.ttf") format("truetype");
}

@font-face {
  font-family: 'CaeciliaLTPro-76BoldItalic';
  src: url("/static/fonts/33FA0F_5_0.eot");
  src: url("/static/fonts/33FA0F_5_0.eot?#iefix") format("embedded-opentype"), url("/static/fonts/33FA0F_5_0.woff2") format("woff2"), url("/static/fonts/33FA0F_5_0.woff") format("woff"), url("/static/fonts/33FA0F_5_0.ttf") format("truetype");
}

@font-face {
  font-family: 'CaeciliaLTPro-85Heavy';
  src: url("/static/fonts/33FA0F_6_0.eot");
  src: url("/static/fonts/33FA0F_6_0.eot?#iefix") format("embedded-opentype"), url("/static/fonts/33FA0F_6_0.woff2") format("woff2"), url("/static/fonts/33FA0F_6_0.woff") format("woff"), url("/static/fonts/33FA0F_6_0.ttf") format("truetype");
}

@font-face {
  font-family: 'CaeciliaLTPro-86HeavyItalic';
  src: url("/static/fonts/33FA0F_7_0.eot");
  src: url("/static/fonts/33FA0F_7_0.eot?#iefix") format("embedded-opentype"), url("/static/fonts/33FA0F_7_0.woff2") format("woff2"), url("/static/fonts/33FA0F_7_0.woff") format("woff"), url("/static/fonts/33FA0F_7_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque-BdIt';
  src: url("/static/fonts/33FA0F_8_0.eot");
  src: url("/static/fonts/33FA0F_8_0.eot?#iefix") format("embedded-opentype"), url("/static/fonts/33FA0F_8_0.woff2") format("woff2"), url("/static/fonts/33FA0F_8_0.woff") format("woff"), url("/static/fonts/33FA0F_8_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque-Lt';
  src: url("/static/fonts/33FA0F_9_0.eot");
  src: url("/static/fonts/33FA0F_9_0.eot?#iefix") format("embedded-opentype"), url("/static/fonts/33FA0F_9_0.woff2") format("woff2"), url("/static/fonts/33FA0F_9_0.woff") format("woff"), url("/static/fonts/33FA0F_9_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque-LtIt';
  src: url("/static/fonts/33FA0F_A_0.eot");
  src: url("/static/fonts/33FA0F_A_0.eot?#iefix") format("embedded-opentype"), url("/static/fonts/33FA0F_A_0.woff2") format("woff2"), url("/static/fonts/33FA0F_A_0.woff") format("woff"), url("/static/fonts/33FA0F_A_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque-Md';
  src: url("/static/fonts/33FA0F_B_0.eot");
  src: url("/static/fonts/33FA0F_B_0.eot?#iefix") format("embedded-opentype"), url("/static/fonts/33FA0F_B_0.woff2") format("woff2"), url("/static/fonts/33FA0F_B_0.woff") format("woff"), url("/static/fonts/33FA0F_B_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque-Bd';
  src: url("/static/fonts/33FA0F_C_0.eot");
  src: url("/static/fonts/33FA0F_C_0.eot?#iefix") format("embedded-opentype"), url("/static/fonts/33FA0F_C_0.woff2") format("woff2"), url("/static/fonts/33FA0F_C_0.woff") format("woff"), url("/static/fonts/33FA0F_C_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque-MdIt';
  src: url("/static/fonts/33FA0F_D_0.eot");
  src: url("/static/fonts/33FA0F_D_0.eot?#iefix") format("embedded-opentype"), url("/static/fonts/33FA0F_D_0.woff2") format("woff2"), url("/static/fonts/33FA0F_D_0.woff") format("woff"), url("/static/fonts/33FA0F_D_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque-Rg';
  src: url("/static/fonts/33FA0F_E_0.eot");
  src: url("/static/fonts/33FA0F_E_0.eot?#iefix") format("embedded-opentype"), url("/static/fonts/33FA0F_E_0.woff2") format("woff2"), url("/static/fonts/33FA0F_E_0.woff") format("woff"), url("/static/fonts/33FA0F_E_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque-RgIt';
  src: url("/static/fonts/33FA0F_F_0.eot");
  src: url("/static/fonts/33FA0F_F_0.eot?#iefix") format("embedded-opentype"), url("/static/fonts/33FA0F_F_0.woff2") format("woff2"), url("/static/fonts/33FA0F_F_0.woff") format("woff"), url("/static/fonts/33FA0F_F_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque-SmBdIt';
  src: url("/static/fonts/33FA0F_10_0.eot");
  src: url("/static/fonts/33FA0F_10_0.eot?#iefix") format("embedded-opentype"), url("/static/fonts/33FA0F_10_0.woff2") format("woff2"), url("/static/fonts/33FA0F_10_0.woff") format("woff"), url("/static/fonts/33FA0F_10_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque-SmBd';
  src: url("/static/fonts/33FA0F_11_0.eot");
  src: url("/static/fonts/33FA0F_11_0.eot?#iefix") format("embedded-opentype"), url("/static/fonts/33FA0F_11_0.woff2") format("woff2"), url("/static/fonts/33FA0F_11_0.woff") format("woff"), url("/static/fonts/33FA0F_11_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque-Th';
  src: url("/static/fonts/33FA0F_12_0.eot");
  src: url("/static/fonts/33FA0F_12_0.eot?#iefix") format("embedded-opentype"), url("/static/fonts/33FA0F_12_0.woff2") format("woff2"), url("/static/fonts/33FA0F_12_0.woff") format("woff"), url("/static/fonts/33FA0F_12_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque-ThIt';
  src: url("/static/fonts/33FA0F_13_0.eot");
  src: url("/static/fonts/33FA0F_13_0.eot?#iefix") format("embedded-opentype"), url("/static/fonts/33FA0F_13_0.woff2") format("woff2"), url("/static/fonts/33FA0F_13_0.woff") format("woff"), url("/static/fonts/33FA0F_13_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque-UltLtIt';
  src: url("/static/fonts/33FA0F_14_0.eot");
  src: url("/static/fonts/33FA0F_14_0.eot?#iefix") format("embedded-opentype"), url("/static/fonts/33FA0F_14_0.woff2") format("woff2"), url("/static/fonts/33FA0F_14_0.woff") format("woff"), url("/static/fonts/33FA0F_14_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque-UltLt';
  src: url("/static/fonts/33FA0F_15_0.eot");
  src: url("/static/fonts/33FA0F_15_0.eot?#iefix") format("embedded-opentype"), url("/static/fonts/33FA0F_15_0.woff2") format("woff2"), url("/static/fonts/33FA0F_15_0.woff") format("woff"), url("/static/fonts/33FA0F_15_0.ttf") format("truetype");
}

select {
  font-family: 'CaeciliaLTPro-45Light';
  font-size: 1rem;
  color: black;
  padding: 10px;
  padding-right: 4rem;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  width: 100%;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAaAgMAAADZOtQaAAAAAXNSR0IB2cksfwAAAAlQTFRFAAAA9GM67WpFdPrSVgAAAAN0Uk5TAP//RFDWIQAAABpJREFUeJxjYKA5YA1tANOMoVCBECgtQAPLAKFWAZUBQ2MRAAAAAElFTkSuQmCC") no-repeat right #FEFEFE;
  overflow: hidden;
  border: 1px solid rgba(83, 86, 90, 0.3);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

* {
  outline: none;
}

body {
  font-family: 'CaeciliaLTPro-45Light';
}

a {
  text-decoration: none;
}

/**
  *  Extendes Utils
*/

.dropdown-desk:hover,
nav > ul > li:nth-child(3):hover > .dropdown-desk {
  display: block;
  line-height: initial;
  padding-top: 50px;
  z-index: 12;
  text-align: left;
}

.dropdown-desk {
  display: none;
}

.dropdown-desk .dropdown-desk-content {
  border-top: 8px solid #f4633a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  background: white;
  padding: 3rem;
}

.dropdown-desk .dropdown-desk-content > div {
  width: 20%;
  font-family: 'Geogrotesque-Rg';
}

.dropdown-desk .dropdown-desk-content > div h3 {
  color: #53565a;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.dropdown-desk .dropdown-desk-content > div ul {
  display: inline-block;
}

.dropdown-desk .dropdown-desk-content > div ul li {
  font-size: 1.3rem;
  position: relative;
}

.dropdown-desk .dropdown-desk-content > div ul li::before {
  position: absolute;
  top: 5px;
  content: "\F112";
  color: rgba(83, 86, 90, 0.5);
  font-family: 'FontAwesome';
  font-size: 15px;
  margin-right: 5px;
}

.dropdown-desk .dropdown-desk-content > div ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-left: 17px;
  color: #53565a;
}

.dropdown-desk .dropdown-desk-content > div ul li:hover a {
  font-weight: bold;
  color: #f4633a;
}

.dropdown-desk .dropdown-desk-content > div ul li:hover::before {
  color: #f4633a;
}

.dropdown-desk .dropdown-desk-content > div::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 120%;
  width: 1px;
  height: 85%;
  margin-left: -45px;
  background: rgba(83, 86, 90, 0.2);
}

.dropdown-desk .dropdown-desk-content > div:first-child::before {
  width: 0px;
}

.nav-info {
  margin-top: 5px;
}

.nav-info span {
  color: white;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 0.8rem;
  background-color: #f4633a;
}

@media screen and (max-width: 768px) {
  .nav-info span {
    display: none;
  }
}

.pre-nav {
  padding-right: 2%;
}

@media screen and (max-width: 768px) {
  .pre-nav {
    padding-right: 0;
  }
}

/**
      Nav
*/

nav {
  margin-bottom: 6%;
  /**
    *  Ul  - no responsive
  */
  /**
    * UL > responsive
  */
  /**
    * Submenu Sedes >UL
  */
}

nav .toogle-content {
  display: none;
}

nav > ul {
  margin-top: 8%;
}

nav > ul .menu-click-sedes {
  display: none;
}

nav > ul > li {
  display: inline-block;
  margin-right: 1.8rem;
  font-size: 1.15rem;
  /**
        Menu desktop Sedes
      */
}

nav > ul > li:first-child {
  display: none;
}

nav > ul > li:hover > a {
  position: relative;
  color: #f4633a;
}

nav > ul > li:hover > a::after {
  content: "";
  width: 23px;
  height: 10px;
  background: #53565a;
  top: 30px;
  right: 30%;
  position: absolute;
  display: inline-block;
}

nav > ul > li > a {
  display: block;
  color: #53565a;
  font-family: 'Geogrotesque-Rg';
  -webkit-transition: ease-out 0.01s;
  transition: ease-out 0.01s;
  text-transform: uppercase;
}

nav > ul > li:nth-child(3):hover > .dropdown-desk {
  width: 100vw;
  margin-left: -50vw;
  height: 100px;
  left: 49.58%;
  position: absolute;
}

@media screen and (max-width: 1683px) {
  nav > ul > li:nth-child(3):hover > .dropdown-desk {
    left: 49.55%;
  }
}

@media screen and (max-width: 1570px) {
  nav > ul > li:nth-child(3):hover > .dropdown-desk {
    left: 49.55%;
  }
}

nav > ul > li:nth-last-child(1) {
  margin-right: 0px;
}

nav .label-toggle {
  color: #f4633a;
  background-color: white;
  border-radius: 2px;
  border: 1px solid #f4633a;
  padding: 0.56em;
}

@media screen and (max-width: 768px) {
  nav .toogle-content {
    display: block;
  }

  nav > ul {
    display: none;
    position: relative;
  }

  nav > ul .menu-click-sedes {
    display: block;
  }

  nav > ul > li {
    display: block;
    border-top: 0.4px solid rgba(83, 86, 90, 0.8);
    margin-right: 0;
    font-size: 0.9rem;
    height: auto;
  }

  nav > ul > li:first-child {
    display: block;
    background-color: #f4633a;
    color: white;
    padding: 1rem;
    border-top: 0;
  }

  nav > ul > li:nth-child(3) {
    display: none;
  }

  nav > ul > li a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 1rem;
  }

  nav > ul > li a i {
    color: #f4633a;
  }

  nav > ul > li a:hover {
    color: #f4633a;
  }

  nav > ul > li a:hover i {
    color: white;
  }

  nav > ul > li a:hover::after {
    width: 0;
    height: 0;
  }

  nav > ul li.menu-click-sedes:hover .menu-sedes-ul {
    display: block;
  }

  nav > ul li.menu-click-sedes > a::after {
    font-family: 'FontAwesome';
    content: "\F110";
    font-size: 15px;
    color: #f4633a;
    position: absolute;
    margin-left: 6px;
  }

  nav > ul li.menu-click-sedes > a:hover::after {
    content: "";
  }
}

nav .toogle-content {
  margin-top: 2rem;
  margin-right: 1rem;
}

nav #menu-toggle:checked ~ ul {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0px;
  width: 100vw;
  height: 100vh;
  margin-top: 11.9vh;
  background-color: white;
  z-index: 9999999999;
  text-align: center;
}

nav #menu-toggle {
  display: none;
}

nav .menu-sedes-ul {
  display: none;
}

nav .menu-sedes-ul > li {
  background-color: white !important;
  display: block;
  border: 0px;
  margin-right: 0;
  font-size: 0.8rem;
  height: auto;
}

nav .menu-sedes-ul > li a {
  color: #f4633a;
}

nav .menu-sedes-ul > li a:link {
  text-transform: none;
  padding: 0.2rem;
}

#slides {
  display: none;
}

#slides a img,
#slides img {
  width: 100%;
}

#slides .slidesjs-navigation {
  margin-top: 3px;
}

#slides .slidesjs-previous {
  margin-right: 5px;
  float: left;
}

#slides .slidesjs-next {
  margin-right: 5px;
  float: left;
}

.slidesjs-pagination {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.slidesjs-pagination li {
  float: left;
  margin: 0 1px;
}

.slidesjs-pagination li a {
  display: block;
  list-style: none;
  border: 1px solid #53565a;
  width: 14px;
  height: 14px;
  margin-right: 9px;
  margin-left: 9px;
  display: inline-block;
  cursor: pointer;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
  background-color: #f4633a;
  border: 1px solid #f4633a !important;
  border: 0px;
  width: 14px;
  height: 14px;
}

.slidesjs-pagination li a:hover {
  background-position: 0 -26px;
  background-color: #f4633a;
  border: 1px solid #f4633a !important;
  border: 0px;
  width: 14px;
  height: 14px;
}

#slides a:link,
#slides a:visited {
  color: transparent;
}

#slides a:hover,
#slides a:active {
  color: transparent;
}

.navbar {
  overflow: hidden;
}

@media (max-width: 480px) {
  .slidesjs-pagination {
    display: none;
  }
}

/* slider close*/

.card .container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

.card .row > div {
  color: white;
}

.card .row > div a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
  text-decoration: none;
}

.card .row > div:hover {
  opacity: 0.9;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.card .row > div i {
  font-size: 4rem;
}

.card .row > div h3 {
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
}

.card .row > div p {
  font-size: 0.9rem;
}

@media screen and (max-width: 768px) {
  .card .row > div {
    text-align: center;
  }

  .card .row > div a {
    padding: 20px;
  }

  .card .row > div i {
    font-size: 1rem;
  }

  .card .row > div h3 {
    display: inline;
    font-size: 1rem;
  }

  .card .row > div p {
    display: none;
  }
}

.card .row > div:nth-child(1) {
  background-color: #f4633a;
}

.card .row > div:nth-child(2) {
  background-color: #e04e29;
}

.card .row > div:nth-child(3) {
  background-color: #c54322;
}

.card .row > div:nth-child(4) {
  background-color: #a9381c;
}

.card-force-minus .row > div {
  text-align: center;
}

.card-force-minus .row > div a {
  padding: 20px;
}

.card-force-minus .row > div i {
  font-size: 1rem;
}

.card-force-minus .row > div h3 {
  display: inline;
  font-size: 1rem;
}

.card-force-minus .row > div p {
  display: none;
}

.header-double-top > .row {
  position: relative;
  height: 255px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .header-double-top > .row {
    height: auto;
  }
}

.header-double-top > .row > div.col-xs-12:nth-child(1),
.header-double-top > .row div.col-sm-6:nth-child(1),
.header-double-top > .row div.col-md-12:nth-child(1) {
  background: #f4633a;
}

@media screen and (max-width: 768px) {
  .header-double-top > .row > div.col-xs-12:nth-child(1),
  .header-double-top > .row div.col-sm-6:nth-child(1),
  .header-double-top > .row div.col-md-12:nth-child(1) {
    height: 4rem;
  }
}

.header-double-top > .row > div.col-xs-12:nth-child(2),
.header-double-top > .row div.col-sm-6:nth-child(2),
.header-double-top > .row div.col-md-12:nth-child(2) {
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .header-double-top > .row > div.col-xs-12:nth-child(2),
  .header-double-top > .row div.col-sm-6:nth-child(2),
  .header-double-top > .row div.col-md-12:nth-child(2) {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    height: 10rem;
  }
}

.header-double-top > .row .header-double-title {
  position: absolute;
  width: 60%;
  margin-top: 4.8%;
  margin-right: initial;
  margin-bottom: initial;
  margin-left: 11.5%;
}

@media screen and (max-width: 768px) {
  .header-double-top > .row .header-double-title {
    bottom: 0px;
    margin-left: 10%;
  }
}

.header-double-top > .row .header-double-title h1 {
  font-size: 2.7em;
  font-family: 'CaeciliaLTPro-85Heavy';
  color: white;
  display: inline-block;
  background-color: #f4633a;
  padding: 0.8rem;
}

@media screen and (max-width: 768px) {
  .header-double-top > .row .header-double-title h1 {
    font-size: 1.8rem;
    padding: 0.1rem;
  }
}

@media screen and (max-width: 320px) {
  .header-double-top > .row .header-double-title h1 {
    font-size: 1.3rem;
  }
}

.header-double-top > .row .header-double-title p {
  color: white;
  display: inline-block;
  margin-left: 2rem;
}

@media screen and (max-width: 768px) {
  .header-double-top > .row .header-double-title p {
    display: none;
  }
}

.header-double-top > .row .header-double-border {
  position: absolute;
  border: 0.7rem solid white;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2.3%;
  margin-bottom: 2%;
  height: 70%;
}

@media screen and (max-width: 768px) {
  .header-double-top > .row .header-double-border {
    border: 0.3rem solid white;
    bottom: -50%;
  }
}

.map-container {
  position: relative;
  width: auto;
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

.row {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -moz-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /*
  margin-right: -0.5rem;
  margin-left: -0.5rem;
  */
}

.row.reverse {
  -webkit-box-direction: reverse;
  -webkit-box-orient: horizontal;
  -moz-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.col.reverse {
  -webkit-box-direction: reverse;
  -webkit-box-orient: vertical;
  -moz-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

[class*="col-xs"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
  -moz-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  /*  padding-right: 0.5rem;
  padding-left: 0.5rem;*/
}

.col-xs-1 {
  -ms-flex-preferred-size: 8.3333333333%;
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-xs-2 {
  -ms-flex-preferred-size: 16.6666666667%;
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-xs-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
}

.col-xs-4 {
  -ms-flex-preferred-size: 33.3333333333%;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-xs-5 {
  -ms-flex-preferred-size: 41.6666666667%;
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-xs-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}

.col-xs-7 {
  -ms-flex-preferred-size: 58.3333333333%;
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-xs-8 {
  -ms-flex-preferred-size: 66.6666666667%;
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-xs-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%;
}

.col-xs-10 {
  -ms-flex-preferred-size: 83.3333333333%;
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-xs-11 {
  -ms-flex-preferred-size: 91.6666666667%;
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-xs-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.col-xs-offset-1 {
  margin-left: 8.3333333333%;
}

.col-xs-offset-2 {
  margin-left: 16.6666666667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.3333333333%;
}

.col-xs-offset-5 {
  margin-left: 41.6666666667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.3333333333%;
}

.col-xs-offset-8 {
  margin-left: 66.6666666667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.3333333333%;
}

.col-xs-offset-11 {
  margin-left: 91.6666666667%;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.col-xs {
  -webkit-box-flex: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}

.start-xs {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  text-align: start;
}

.center-xs {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -moz-justify-content: center;
  justify-content: center;
  text-align: center;
}

.end-xs {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
  text-align: end;
}

.top-xs {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -moz-align-items: flex-start;
  align-items: flex-start;
}

.middle-xs {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -moz-align-items: center;
  align-items: center;
}

.bottom-xs {
  -webkit-box-align: end;
  -ms-flex-align: end;
  -moz-align-items: flex-end;
  align-items: flex-end;
}

.around-xs {
  -ms-flex-pack: distribute;
  -moz-justify-content: space-around;
  justify-content: space-around;
}

.between-xs {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

.first-xs {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.last-xs {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media only screen and (min-width: 48em) {
  .container {
    width: 46rem;
  }

  [class*="col-sm"] {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    /*    padding-right: 0.5rem;
    padding-left: 0.5rem; */
  }

  .col-sm-1 {
    -ms-flex-preferred-size: 8.3333333333%;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-sm-2 {
    -ms-flex-preferred-size: 16.6666666667%;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-sm-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    -ms-flex-preferred-size: 33.3333333333%;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-sm-5 {
    -ms-flex-preferred-size: 41.6666666667%;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-sm-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    -ms-flex-preferred-size: 58.3333333333%;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-sm-8 {
    -ms-flex-preferred-size: 66.6666666667%;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-sm-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    -ms-flex-preferred-size: 83.3333333333%;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-sm-11 {
    -ms-flex-preferred-size: 91.6666666667%;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-sm-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .col-sm {
    -webkit-box-flex: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .start-sm {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-sm {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -moz-justify-content: center;
    justify-content: center;
    text-align: center;
  }

  .end-sm {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-sm {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -moz-align-items: flex-start;
    align-items: flex-start;
  }

  .middle-sm {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -moz-align-items: center;
    align-items: center;
  }

  .bottom-sm {
    -webkit-box-align: end;
    -ms-flex-align: end;
    -moz-align-items: flex-end;
    align-items: flex-end;
  }

  .around-sm {
    -ms-flex-pack: distribute;
    -moz-justify-content: space-around;
    justify-content: space-around;
  }

  .between-sm {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }

  .first-sm {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .last-sm {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media only screen and (min-width: 62em) {
  .container {
    width: 61rem;
  }

  [class*="col-md"] {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    /*    padding-right: 0.5rem;
    padding-left: 0.5rem; */
  }

  .col-md-1 {
    -ms-flex-preferred-size: 8.3333333333%;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-md-2 {
    -ms-flex-preferred-size: 16.6666666667%;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-md-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-md-4 {
    -ms-flex-preferred-size: 33.3333333333%;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-md-5 {
    -ms-flex-preferred-size: 41.6666666667%;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-md-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-md-7 {
    -ms-flex-preferred-size: 58.3333333333%;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-md-8 {
    -ms-flex-preferred-size: 66.6666666667%;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-md-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-md-10 {
    -ms-flex-preferred-size: 83.3333333333%;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-md-11 {
    -ms-flex-preferred-size: 91.6666666667%;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-md-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-md-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-md-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-md-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-md-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-md-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .col-md {
    -webkit-box-flex: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .start-md {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-md {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -moz-justify-content: center;
    justify-content: center;
    text-align: center;
  }

  .end-md {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-md {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -moz-align-items: flex-start;
    align-items: flex-start;
  }

  .middle-md {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -moz-align-items: center;
    align-items: center;
  }

  .bottom-md {
    -webkit-box-align: end;
    -ms-flex-align: end;
    -moz-align-items: flex-end;
    align-items: flex-end;
  }

  .around-md {
    -ms-flex-pack: distribute;
    -moz-justify-content: space-around;
    justify-content: space-around;
  }

  .between-md {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }

  .first-md {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .last-md {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.logo img {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  max-width: 16rem;
}

@media screen and (max-width: 480px) {
  .logo img {
    max-width: 5rem;
  }
}

@media screen and (max-width: 768px) {
  .logo img {
    margin-top: 1.2rem;
    margin-left: 0.6rem;
    margin-bottom: 1.2rem;
    max-width: 6rem;
  }
}

footer {
  background: #53565a;
  height: 100%;
  width: 100%;
  color: #d4d6d8;
  font-size: 0.8rem;
  padding-bottom: 3%;
  padding-top: 3%;
}

footer a {
  color: white;
}

footer .footer-menu {
  width: 100%;
}

footer .footer-top {
  border-bottom: 1px solid #85898e;
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-size: 1rem;
}

footer .footer-top span {
  margin-left: 14.7%;
}

@media screen and (max-width: 768px) {
  footer .footer-top span {
    margin-left: 2.8%;
  }
}

@media screen and (max-width: 768px) {
  footer .footer-bottom {
    display: none;
  }
}

footer ul {
  margin-top: 15px;
}

footer ul li {
  display: inline;
}

footer ul li a,
footer ul li a:link {
  text-decoration: none;
  color: #d4d6d8;
}

footer ul li::after {
  padding-left: 10px;
  content: "|";
}

footer ul li:last-child::after {
  content: "";
}

footer ul li a:hover {
  color: white;
}

@media screen and (max-width: 768px) {
  footer ul {
    margin-left: 5%;
    text-align: left;
  }

  footer ul li {
    margin-top: 6%;
    display: block;
  }

  footer ul li::after {
    padding-left: 0;
    content: "";
  }
}

footer .footer-right-icons li {
  display: inline-block;
}

footer .footer-right-icons li a {
  font-size: 1.5rem;
}

footer .footer-right-icons li:last-child {
  margin-right: 15px;
  display: none;
  text-align: right;
}

footer .footer-right-icons li::after {
  content: "";
}

@media screen and (max-width: 768px) {
  footer .footer-right-icons li:last-child {
    display: block;
  }
}

.home-bg {
  z-index: -2;
}

.home-overlay {
  background-image: url("/static/images/home/bg.png");
  width: 100%;
  height: 100%;
  opacity: 0.4;
  position: absolute;
  top: 0.1px;
}

/*loader open*/

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #00abf0;
  -webkit-animation: spin 2s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
  z-index: 1001;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ffffff;
  -webkit-animation: spin 3s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f4633a;
  -webkit-animation: spin 1.5s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }

  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }

  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222222;
  z-index: 1000;
  -webkit-transform: translateX(0);
  /* Chrome, Opera 15+, Safari 3.1+ */
  /* IE 9 */
  transform: translateX(0);
  /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

/* Loaded */

.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  /* IE 9 */
  transform: translateX(-100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  /* IE 9 */
  transform: translateX(100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  /* IE 9 */
  transform: translateY(-100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}

/* loader close */

.h-all {
  position: relative;
}

.h-all .h-content {
  position: absolute;
  width: 100%;
}

.h-all .h-content header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2.2%;
  margin-top: 50px;
}

@media (max-width: 700px) {
  .h-all .h-content header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.h-all .h-content header .h-logo {
  background: url("/static/images/home/logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 220px;
  height: 70px;
}

@media (max-width: 700px) {
  .h-all .h-content header .h-logo {
    margin: 0 auto;
    width: 160px;
    height: 50px;
  }
}

.h-all .h-content header nav {
  padding-right: 35px;
}

.h-all .h-content header nav ul a,
.h-all .h-content header nav ul a:link {
  color: white;
  text-decoration: none;
}

.h-all .h-content header nav ul li {
  display: inline-block;
  font-size: 24px;
  padding-left: 13px;
}

.h-all .h-content header nav ul li:hover a::after {
  content: "";
  display: none;
}

@media (max-width: 700px) {
  .h-all .h-content header nav ul {
    text-align: center;
  }
}

@media (max-width: 700px) {
  .h-all .h-content header nav {
    margin: 0 auto;
    padding-top: 25px;
    width: 100%;
  }
}

.h-all .h-content section.h-slogan {
  margin-top: 18%;
}

.h-all .h-content section.h-slogan h1 {
  text-align: center;
  font-family: "Geogrotesque-SmBd" !important;
  color: white;
  font-size: 45px;
  letter-spacing: 11px;
}

.h-all .h-content section.h-slogan h1 span {
  border-collapse: collapse;
  border-spacing: 35px;
  border-bottom: 2px solid white;
}

@media (max-width: 700px) {
  .h-all .h-content section.h-slogan h1 span {
    border: 0;
  }
}

@media (max-width: 700px) {
  .h-all .h-content section.h-slogan h1 {
    letter-spacing: 4px;
    font-size: 22px;
  }
}

@media (max-width: 700px) {
  .h-all .h-content section.h-slogan {
    margin-top: 28%;
  }
}

.h-all .h-content section.h-cta {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  bottom: 0;
}

.h-all .h-content section.h-cta .h-boton {
  text-align: center;
}

.h-all .h-content section.h-cta .h-boton:nth-child(1) {
  background-color: white;
}

.h-all .h-content section.h-cta .h-boton:nth-child(1) a {
  color: #53565a;
}

.h-all .h-content section.h-cta .h-boton:nth-child(2) {
  background-color: #f4633a;
}

.h-all .h-content section.h-cta .h-boton:nth-child(2) a {
  color: white;
}

@media (max-width: 768px) {
  .h-all .h-content section.h-cta .h-boton {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.h-all .h-content section.h-cta .h-boton a {
  font-family: 'Geogrotesque-Rg';
  font-size: 40px;
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 31px;
  padding-bottom: 31px;
  padding-left: 31px;
  padding-right: 31px;
  text-transform: uppercase;
  text-decoration: none;
}

@media (max-width: 700px) {
  .h-all .h-content section.h-cta .h-boton a {
    font-size: 2em;
    padding: 5px;
    padding-left: 0;
    padding-right: 0;
  }
}

#h-k {
  position: absolute;
  width: 100%;
  height: 100%;
}

.nuevos-i {
  margin-top: 3%;
  margin-bottom: 5%;
}

.nuevos-i .nuevos-i-title {
  margin-bottom: 1.8rem;
}

.nuevos-i .nuevos-i-title h2 {
  font-size: 3rem;
  font-family: 'CaeciliaLTPro-75Bold';
  font-weight: bold;
  color: #53565a;
}

.nuevos-i .nuevos-i-title p {
  font-size: 0.8rem;
}

@media screen and (max-width: 768px) {
  .nuevos-i .nuevos-i-title {
    display: none;
  }
}

.nuevos-i .nuevos-i-box {
  margin-top: 15px;
}

.nuevos-i .nuevos-i-box > div {
  border: 0.6rem solid rgba(83, 86, 90, 0.3);
  margin-right: 6%;
}

.nuevos-i .nuevos-i-box > div > a {
  width: 100%;
  height: 100%;
  display: block;
  padding: 20px;
  padding-top: 65px;
  padding-bottom: 65px;
}

.nuevos-i .nuevos-i-box > div .nuevos-i-top {
  color: rgba(83, 86, 90, 0.6);
  font-family: 'Geogrotesque-Rg';
}

.nuevos-i .nuevos-i-box > div .nuevos-i-top h3 {
  font-size: 2.2rem;
}

.nuevos-i .nuevos-i-box > div .nuevos-i-top h4 {
  letter-spacing: 0.25rem;
  font-size: 1.3rem;
}

.nuevos-i .nuevos-i-box > div .nuevos-i-top > img {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.nuevos-i .nuevos-i-box > div .nuevos-i-bottom {
  color: #f4633a;
}

.nuevos-i .nuevos-i-box > div .nuevos-i-bottom hr {
  margin: 15px auto;
  width: 40%;
  border: 0.5px solid #f4633a;
}

.nuevos-i .nuevos-i-box > div:hover {
  border-color: #f4633a;
}

.nuevos-i .nuevos-i-box > div:hover img {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

.nuevos-i .nuevos-i-box > div:hover .nuevos-i-bottom {
  font-weight: bold;
}

.nuevos-i .nuevos-i-box > div:hover .nuevos-i-top {
  color: #53565a;
}

@media screen and (max-width: 768px) {
  .nuevos-i .nuevos-i-box > div {
    border: 0px;
    margin-right: 0;
  }

  .nuevos-i .nuevos-i-box > div > a {
    padding: 0;
  }

  .nuevos-i .nuevos-i-box > div .nuevos-i-top img {
    max-width: 50%;
    margin-bottom: 10%;
  }

  .nuevos-i .nuevos-i-box > div .nuevos-i-top h3 {
    font-size: 1.4rem;
    line-height: 1rem;
  }

  .nuevos-i .nuevos-i-box > div .nuevos-i-top h4 {
    letter-spacing: 0;
    font-size: 0.9rem;
  }

  .nuevos-i .nuevos-i-box > div .nuevos-i-bottom {
    display: none;
  }

  .nuevos-i .nuevos-i-box > div:nth-child(1) {
    position: relative;
  }

  .nuevos-i .nuevos-i-box > div:nth-child(1)::before {
    content: "";
    position: absolute;
    right: 0;
    z-index: 1;
    top: 20%;
    width: 1px;
    height: 45%;
    background: #f4633a;
  }

  .nuevos-i .nuevos-i-box > div:nth-child(3) {
    position: relative;
  }

  .nuevos-i .nuevos-i-box > div:nth-child(3)::before {
    content: "";
    position: absolute;
    left: 10%;
    z-index: 1;
    top: 20%;
    width: 1px;
    height: 45%;
    background: #f4633a;
  }
}

.nuevos-i-force-minus {
  margin-bottom: 2%;
}

@media screen and (min-width: 768px) {
  .nuevos-i-force-minus .nuevos-i-title {
    display: none;
  }

  .nuevos-i-force-minus .nuevos-i-box {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }

  .nuevos-i-force-minus .nuevos-i-box > div {
    border: 0px;
    margin-right: 0;
  }

  .nuevos-i-force-minus .nuevos-i-box > div > a {
    padding: 0;
  }

  .nuevos-i-force-minus .nuevos-i-box > div .nuevos-i-top {
    text-align: left;
    text-transform: uppercase;
  }

  .nuevos-i-force-minus .nuevos-i-box > div .nuevos-i-top img {
    max-width: 25%;
    margin-bottom: 1%;
  }

  .nuevos-i-force-minus .nuevos-i-box > div .nuevos-i-top h3 {
    font-size: 2rem;
    line-height: 1.5rem;
  }

  .nuevos-i-force-minus .nuevos-i-box > div .nuevos-i-top h4 {
    letter-spacing: 0;
    font-size: 1rem;
  }

  .nuevos-i-force-minus .nuevos-i-box > div .nuevos-i-bottom {
    display: none;
  }

  .nuevos-i-force-minus .nuevos-i-box > div:nth-child(1) {
    position: relative;
    margin-right: -10px;
  }

  .nuevos-i-force-minus .nuevos-i-box > div:nth-child(1)::before {
    content: "";
    position: absolute;
    right: 13%;
    z-index: 1;
    top: 20%;
    width: 1px;
    height: 45%;
    background: #f4633a;
  }

  .nuevos-i-force-minus .nuevos-i-box > div:nth-child(3) {
    position: relative;
  }

  .nuevos-i-force-minus .nuevos-i-box > div:nth-child(3)::before {
    content: "";
    position: absolute;
    left: -10%;
    z-index: 1;
    top: 20%;
    width: 1px;
    height: 45%;
    background: #f4633a;
  }
}

.nuevos-i-active {
  position: relative;
}

.nuevos-i-active img {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

.nuevos-i-active .nuevos-i-top {
  color: #53565a !important;
}

.nuevos-i-active::after {
  position: absolute;
  content: "";
  background: #f4633a;
  width: 2rem;
  height: 1rem;
  z-index: 1;
  bottom: -48px;
  left: 10px;
}

@media screen and (max-width: 768px) {
  .nuevos-i-active::after {
    left: 40%;
  }
}

.nuevos-i-border {
  padding-bottom: 2.5rem;
  border-bottom: 2px solid #53565a;
}

/**
 *  Nuevos Inicios: Lista
 */

.nuevos-i-list select {
  max-width: auto;
}

@media screen and (max-width: 768px) {
  .nuevos-i-list .nuevos-i-list-selects {
    margin-top: 2rem;
  }
}

.nuevos-i-list .nuevos-i-list-selects > div {
  margin-left: 2.5rem;
}

@media screen and (max-width: 768px) {
  .nuevos-i-list .nuevos-i-list-selects > div {
    margin: 0;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
  .nuevos-i-list .nuevos-i-list-selects > div select {
    margin: 0;
    max-width: 65%;
  }
}

.nuevos-i-list .nuevos-i-list-data {
  margin-top: 1rem;
}

.nuevos-i-list .nuevos-i-list-data h3 {
  color: #f4633a;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 768px) {
  .nuevos-i-list .ii {
    font-size: 0.9rem;
    margin-top: 0.3rem;
    padding-right: 0.2rem;
  }
}

.nuevos-i-list .ii::before {
  font-family: 'FontAwesome';
  font-size: 15px;
  color: #f4633a;
  padding-left: 2px;
}

.nuevos-i-list .ii-ul {
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .nuevos-i-list .ii-ul {
    padding-left: 1.3rem;
  }
}

.nuevos-i-list .ii-li {
  margin-bottom: 1rem;
}

.i-cycle::before {
  content: "\F21E";
}

.i-turn::before {
  content: "\F236";
}

.i-date::before {
  content: "\F15C";
}

.i-money::before {
  content: "\F294";
}

.i-horary::before {
  content: "\F18F";
}

.header-double-w-1 {
  background-image: url("/static/images/academia/preparacion-inicios.png");
}

.venue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 3rem auto;
}

@media screen and (max-width: 768px) {
  .venue {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.venue > div:first-child {
  width: 50%;
  padding-left: 10px;
}

.venue > div:nth-child(2) {
  width: 40%;
  height: 400px;
  border: 1px solid rgba(83, 86, 90, 0.4);
}

@media screen and (max-width: 768px) {
  .venue > div {
    width: 100% !important;
  }
}

.venue h2 {
  color: #f4633a;
  font-size: 2rem;
  font-weight: bold;
}

.venue div.hr {
  border: 0.5px solid rgba(83, 86, 90, 0.15);
  margin: 1.5rem;
  margin-right: 0;
  margin-left: -0.5rem;
  position: relative;
  width: 90%;
}

.venue div.hr::after {
  content: "";
  position: absolute;
  height: 14px;
  width: 2.6rem;
  background: #f4633a;
  top: -5px;
  left: 0.5rem;
}

.venue ul {
  margin-left: 15px;
}

.venue ul li {
  margin-bottom: 1rem;
  position: relative;
}

.venue ul li::before {
  position: absolute;
  left: -15px;
  font-family: 'FontAwesome';
  font-size: 0.7rem;
  color: #f4633a;
}

.venue ul li:nth-child(1)::before {
  content: "\F18F";
}

.venue ul li:nth-child(2)::before {
  content: "\F15C";
}

.venue ul li:nth-child(3)::before {
  content: "\F2B3";
}

