$orange_candy: transparentize($orange, 0.6);
$gray_candy: transparentize($gray, 0.6);

.about-top{
  margin-top: 10rem;
  margin-bottom: 2rem;
  @media screen and (max-width: 768px){
    margin-top: 2rem;
  }
}

.about-top-blocks{
  
  // Block
  >div{
    padding: 1.2rem;
    position: relative;

    // Only Desktop border left and bottom
    @media screen and (min-width: 768px){
      border-left: 1.2px solid $orange;
      border-bottom: 1.2px solid $gray_candy;
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
    
    @media screen and (max-width: 768px){
      margin-top: 1rem;
      padding-left: 2.2rem;
      padding-right: 0;
    }// end @media

    h2{
      color: $orange;
      font-size: 1.5rem;
      margin-bottom: 0.8rem;
    }
    
    p{
      color: $gray;
      font-size: 0.9rem;
    }
    
    // Only desktop colors variant left and bottom
    @media screen and (min-width: 768px){
      &:nth-child(even){
        border-left: 1.2px solid $gray_candy;
        border-bottom: 1.2px solid $orange_candy;
      
        &::after{
          background: $gray_candy;
        }
        
        &::before{
          background: $gray;
          top: -6rem;
        }
        
        // div:div-hack-border-up::before
        >div{
          &::before{
            position: absolute;
            content: "";
            left: -1px;
            top: -50px;
            width: 1.2px;
            height: 50px;
            background: $gray_candy;
          }
        }
        
      }//end nth-child(even)
    }
    
    // icons in mini blocks::before
    
    &:nth-child(1){
      &::before{
        content: "\f369";
      }
    }
    
    &:nth-child(2){
      &::before{
        content: "\f2b0";
      }
    }
    
    /*
    &:nth-child(3){
      &::before{
        content: "\f2f1";
      }
    }*/
    
    &:nth-child(3){
      &::before{
        content: "\f21e";
      }
    }
    
    &:nth-child(4){
      &::before{
        content: "\f2a9";
      }
    }
    // end Iconos
    
    // icon box up config
    &::before{
      position: absolute;
      background: $orange;
      left: -2rem;
      top: -4rem;
      padding: 1rem;
      
      font-family: 'FontAwesome';
      color: white;
      font-size: 2rem;
      
      // Mobile config
      @media screen and (max-width: 768px){
        padding: 0.5rem;
        left: -0.5rem;
        top: 1.2rem;
        font-size: 1.3rem;
      }
    }

    // Only Desktop
    @media screen and (min-width: 768px){
      // Circle bottom
      &::after{
        content: "";
        position: absolute;
        bottom: -5px;
        left: -4px;
        height: 0.5rem;
        width: 0.5rem;
        background: $orange;
        border-radius: 80%;
        transform: rotate(30deg);
      }
    }


    
  }//end div:block
  
}

.about-top-dates{
  margin-top: 1rem;
  font-family: 'Geogrotesque-Rg';
  color: $gray;
  @media screen and (max-width: 768px){
    display: none;
  }
}


.about-mission-vision{
  margin-bottom: 3rem;

  @media screen and (min-width: 768px){
    margin-top: 5rem;
  }
  
  .block{
    >div{
      // icon
      &:first-child{
        padding: 1.5rem;
        padding-top: 4rem;
        padding-bottom: 4.2rem;
        height: 8rem;
        text-align: center;
        
        // Mobile
        @media screen and (min-width: 768px){
          //border: 10px solid transparentize($gray, 0.8);
        }
        
        .rocket{
          &::after{
            content: "\f2df";
          }
        }
        
        .binoculars{
          &::after{
            content: "\f145";
          }
        }
        
        h3{
          color: $orange;
          font-family: "CaeciliaLTPro-75Bold";
          font-size: 1.7rem;
          position: relative;
          
          &::after{
            position: absolute;
            top: -3rem;
            left: 0;
            font-family: 'FontAwesome';
            font-size: 3rem;
          }
          
          &::before{
            content: "";
            position: absolute;
            bottom: -10px;
            
            width: 25px;
            height: 8px;
            background: $orange;
          }
          
        }

      }
      
      // text
      &:last-child{
        padding-left: 1rem;
        text-align: justify;
        font-size: 0.9rem;
        
      }
      
    }
  }
}

.about-values{
  margin-top: 5rem;
  margin-bottom: 4rem;
  
  .title{
    margin-bottom: 2.5rem;
    font-size: 2.6rem;
    color: $gray_candy;
    letter-spacing: 10px;

    @media screen and (max-width: 768px){
      font-size: 1rem;
    }
  }
  
  .values{
    >div{
      margin-bottom: 3rem;
      
      @media screen and (max-width: 768px){
        margin-bottom: 1.3rem;
        text-align: center;
      }
    }
    
    h4{
      color: $gray;
      font-weight: bold;
      font-size: 1.1rem;
      @media screen and (max-width: 768px){
        font-size: 0.9rem;

        &::before{
          content: "\F112";
          color: $orange;
          font-family: 'FontAwesome';
          font-size: 14px;
          font-weight: bold;
          margin-right: 5px;
        }
      }
    }
    
    p{
      padding-right: 2.5rem;
      @media screen and (max-width: 768px){
        display: none;
      }
    }
  }
}