.about-container{
  margin-top: 30px;
  margin-bottom: 30px;
}


.about-blocka{

}

.about-blocka--image{
  border-right: 0.5px solid $colegio_gray_gray;
}

.about-blocka--history{
  margin-left: 20px;

  .about-blocka--history-title{
    font-size: 3rem;
    font-family: 'Geogrotesque-SmBd';
  }
}
