.header-double-w-preparation-pucp{
  background-image: url('/static/images/academia/banners/preparation-pucp.jpg');
}

.header-double-w-preparation-san-marcos{
  background-image: url('/static/images/academia/banners/preparation-sm.jpg');
}

.header-double-w-preparation-uni{
  background-image: url('/static/images/academia/banners/preparation-uni.jpg');
}

.header-double-w-venues{
  background-image: url('/static/images/academia/banners/venues.jpg');
}

.header-double-w-aboutus{
  background-image: url('/static/images/academia/banners/aboutus.jpg');
}

.header-double-w-enrollment{
  background-image: url('/static/images/academia/banners/enrollment.jpg');
}

.header-double-w-matholympics{
  background-image: url('/static/images/academia/banners/matholympics.png');
}

.header-double-w-simulacrum{
  background-image: url('/static/images/academia/banners/simulacrum.jpg');
}

.header-double-w-solutions{
  background-image: url('/static/images/academia/banners/solutions.jpg');
}

.header-double-w-contact{
  background-image: url('/static/images/academia/banners/contact.jpg');
}
