/**
 *  Simulacro Sass file
 */

$simulacrum-form-background: #ededed;

.simulacrum{
  margin-top: 50px;
  margin-bottom: 30px;
  @media screen and (max-width: 768px) {
    margin-top: 30px;
  }
}

.simulacrum-info{
  p{
    text-indent: 15px;
  }
}

.simulacrum-info-ul{
  margin-top: 40px;

  li{
    margin-bottom: 15px;
    font-size: .85rem;

    span{
      font-weight: bold;
    }

    &::before{
      color: $orange;
      font-family: $font_icon;
    }

    &:nth-child(1)::before {
      content: "\f2b1";
    }

    &:nth-child(2)::before {
      content: "\F15C";
    }

    &:nth-child(3)::before {
      content: "\F18F";
    }

    &:nth-child(4)::before {
      content: "\f155";
    }

  }

  @media screen and (max-width: 768px) {
    margin-top: 35px;
  }
}

.simulacrum-info-li-title{
  font-size: .95rem;
}

.simulacrum-info-title{
  position: relative;
  color: $orange;
  font-family: $font_cae_bold;

  &::before{
    content: "";
    background: $orange;
    position: absolute;
    width: 22px;
    height: 8px;
    bottom: -10px;
    left: 0;
  }
}

.simulacrum-form{
  background: $simulacrum-form-background;

  @include breakpoint(baby){
    background: white;
    margin-top: 20px;

    button{
      background: white !important;
    }
  }

  h2{
    color: $gray;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-family: $font_cae_bold;
    width: 100%;
  }

  ul{
    margin-bottom: 20px;
  }

  ul li{
    font-family: $font_geo_lite;
  }

  button{
    margin-top: 20px;
  }


  div.step-2{
    display: none;
  }

  fieldset{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;

    label{
      width: auto;
      float: left;
      margin: 0.8rem;
    }

    >div{
      overflow: hidden;
      width: auto;
      select{
        width: 100%;
      }
    }

  }

  button{
    background: $simulacrum-form-background;
    font-family: $font_geo_reg;
  }

  @media screen and (max-width: 768px) {
    h2{
      font-size: 1rem;
    }
    ul > li{
      font-size: 0.8rem;
    }
  }


}

.step-container{
  padding: 35px;

  @include breakpoint(mom){
    padding: 15px;
  }

  @include breakpoint(baby){
    padding: 12px;
  }
}

.simulacrum-results{

  >div{
    position: relative;
    padding: 10px;

    a{
      color: $gray;

      @media screen and (max-width: 768px) {
        display: flex;
      }

      &:hover{
        color: $orange;
        font-weight: bold;
      }
    }

    &::after{
      content: "";
      position: absolute;
      z-index: 1;
      width: 1px;
      background: transparentize($gray, 0.8);
      right: 0;
      height: 60%;
      top: 26px;

      @media screen and (max-width: 768px){
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        top: unset;
      }
    }

    &:last-child::after{
      display: none;
    }

    &:nth-child(6n)::after{
      display: none;
    }

  }

  .simulacrum-results-pdf{
    font-size: 1.6rem;
  }

  .simulacrum-results-text{
    font-size: .85rem;

    span{
      display: block;
    }

    @media screen and (max-width: 768px) {
      margin-left: 1.5rem;
    }
  }
}// End simulacrum-results



.simulacrum-step1-steps{
  margin-bottom: 20px;
  position: relative;

  &::after{
    content: "";
    width: 98%;
    height: 1px;
    background: transparentize($gray, 0.8);
    bottom: -8px;
    position: absolute;
  }

  >div{
    padding: 10px;

    &:not(:last-child){
      border-right: 1px solid transparentize($gray, 0.8);
    }
  }

  .number{
    font-size: 2.5rem;
    font-family: $font_geo_bold;
    color: $colegio_gray;
    position: relative;
    padding: 5px 0;

    @include breakpoint(dad){
      font-size: 2.3rem;
    }

    @include breakpoint(mom){
      font-size: 1.8rem;
    }

    @include breakpoint(baby){
      font-size: 1.5rem;
    }

    &::before{
      content: "";
      position: absolute;
      width: 20px;
      height: 1px;
      background: $orange;
      bottom: 0;
      margin-bottom: 10px;
    }

  }

  .text{
    font-size: .9rem;
  }
}
