.solution-table{
  margin: 40px 0;
  @include breakpoint(baby){
    margin: 20px 0;
  }
}

.solution-table-content{
  thead{
    th{
      font-family: $font_cae_bold;
    }
  }

  tbody{
    tr:nth-child(odd){

    }

    tr{
      &:nth-child(odd){
        td:first-child{
          color:  $orange;
          font-weight: bold;
        }
        @include breakpoint(baby){
        }
      }

      @include breakpoint(baby){
        td:first-child{
          color: $orange;
        }
      }

      td{
        &:not(:first-child){
          font-family: $font_geo_reg;
        }

        a, a:link, a:visited{
          color: $gray;
        }

        i{
          color: $orange;
          font-size: 1.3rem;
        }
      }
    }
  }
}
